.App {
  background-color: #787c83;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 44, 44);
}

button {
  background-color: white;
  padding: 10px 60px;
  border-radius: 15px;
  margin: 10px 0px;
  cursor: pointer;
}

.tehty {
  text-decoration: line-through;
}
.eiTehty {
  text-decoration: none;
}

#poista {
  background-color: red;
  color: white;
  margin: 0px 20px;
  padding: 10px 15px;
}

#lisää {
  background-color: green;
  color: white;
  margin: 0px 15px;
  padding: 3px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: larger;
}

#lajittele {
  background-color: blue;
  color: white;
}

#poistakaikki {
  background-color: red;
  color: white;
}
